---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { getCurrentLangCode } from "../../i18n/utils";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

const currentLangCode = getCurrentLangCode(Astro.url);
---

<html lang={currentLangCode}>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <div class="tw-flex tw-flex-col sm:tw-flex-row">
        <div class="tw-flex-shrink-0 tw-flex tw-justify-center">
          <img class="profile-image" src="/photos/200.png" alt="프로필 사진" />
        </div>
        <div class="tw-flex tw-flex-col sm:tw-ml-4 tw-mt-8 sm:tw-mt-0">
          <h5>창의적인 문제 해결을 위해 기술을 사용합니다.</h5>
          <p>
            저는 소규모 웹사이트부터 대형 애플리케이션까지 확장성과 성능을 갖춘
            프론트엔드 프로젝트를 전문적으로 개발합니다.<br />Angular 와 React
            를 주로 활용하지만 문제 해결에 가장 효율적인 기술을 선정하는 것을
            선호합니다.<br />오픈소스에서 배운 만큼 다시 오픈소스에 기여하는
            것을 좋아하며 다양한 프로젝트를 진행하고 있습니다.<br />제게 연락이
            필요하다면 winetree94@gmail.com 으로 이메일을 보내주세요.
          </p>
        </div>
      </div>
      <div class="tw-flex tw-flex-col tw-mt-8">
        <h4>바로 이동</h4>
        <div class="tw-flex tw-justify-center tw-gap-4">
          <a>프로필</a>
          <a>기술 능력</a>
          <a>경력</a>
          <a>오픈소스 활동</a>
        </div>
      </div>
      <div class="tw-flex tw-flex-col tw-mt-8">
        <h4>프로필</h4>
        <div class="line">
          <p>
            저는 온라인에서 winetree94 라는 닉네임으로 활동하고 있습니다. 제가
            활동하고 있는 플랫폼들입니다.
          </p>
          <ul class="list">
            <li>
              <a>Github</a>
            </li>
            <li>
              <a>NPM</a>
            </li>
            <li>
              <a>Docker Hub</a>
            </li>
            <li>
              <a>LinkedIn</a>
            </li>
            <li>
              <a>Reddit</a>
            </li>
            <li>
              <a>Blog (Old)</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="tw-flex tw-flex-col tw-mt-8">
        <h4>기술</h4>
        <div class="line">
          <div>
            <h5>프론트엔드</h5>
            <ul class="list">
              <li>lkajsd</li>
              <li>lkajsd</li>
            </ul>
          </div>
          <div class="tw-mt-4">
            <h5>기타</h5>
            <ul class="list">
              <li>lkajsd</li>
              <li>lkajsd</li>
            </ul>
          </div>
          <ul class="list">
            <li>Angular / React 기반의 웹 애플리케이션 설계 및 개발</li>
            <li>SSR / SSG / CRA 등 요구사항에 맞는 프로젝트 전략 수립</li>
            <li>
              Cloudflare / AWS / Azure 등 클라우드 플랫폼 배포 시스템 구축
            </li>
            <li>클라우드 비용 및 성능 최적화</li>
            <li></li>
            <li>MongoDB</li>
            <li>Git</li>
          </ul>
        </div>
      </div>
      <div class="tw-flex tw-flex-col tw-mt-8">
        <h4>경력</h4>
        <div class="line">
          <ul class="list">
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>React</li>
            <li>Angular</li>
            <li>Node.js</li>
            <li>Express</li>
            <li>MySQL</li>
            <li>MongoDB</li>
            <li>Git</li>
          </ul>
        </div>
      </div>
      <div class="tw-flex tw-flex-col tw-mt-8">
        <h4>오픈소스 활동</h4>
        <div class="line">
          <ul class="list">
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>React</li>
            <li>Angular</li>
            <li>Node.js</li>
            <li>Express</li>
            <li>MySQL</li>
            <li>MongoDB</li>
            <li>Git</li>
          </ul>
        </div>
      </div>
    </main>
    <Footer />

    <style>
      .profile-image {
        max-width: 200px;
        max-height: 200px;
        min-width: 200px;
        min-height: 200px;
        border-radius: 15%;
      }

      .line {
        border-left: 1px solid #cccccc;
        margin-top: 8px;
        margin-left: 8px;
        padding-left: 16px;
        position: relative;
        padding-bottom: 8px;

        &::before {
          position: absolute;
          bottom: 0px;
          left: 0px;
          display: block;
          content: " ";
          position: absolute;
          width: 10px;
          height: 10px;
          border-bottom: 1px solid #cccccc;
        }
      }

      .list {
        list-style: circle;
        margin-left: 24px;
      }
    </style>
  </body>
</html>
