---
import IndentLine from '../../components/IndentLine.astro';
import TechBadge from '../../components/TechBadge.astro';
import { getCurrentLangCode, getLangBasePath } from '../../i18n/utils';
import { useTranslation } from '../../i18n/utils';

const langCode = getCurrentLangCode(Astro.url);
const t = useTranslation(langCode);

const badges = ['Typescript', 'Angular', 'React', 'Webpack', 'Vite', 'Jest', 'Storybook', 'Aws', 'Docker'];
---

<div
  class="tw-flex tw-flex-col tw-w-full tw-h-full tw-justify-center tw-text-left"
>
  <div class="tw-flex tw-flex-row">
    <div class="tw-flex-shrink-0 tw-flex tw-justify-center tw-flex-col tw-items-center">
      <img
        class="tw-rounded-full profile-image tw-max-w-[125px] tw-min-w-[125px] tw-min-h-[125px] tw-max-h-[125px]"
        src="/photos/profile.jpg"
        alt="Profile Image"
      />
      <div class="tw-mt-4">
        <p>
          <i class="ri-mail-line tw-mr-2"></i>winetree94@gmail.com
        </p>
        <p>
          <i class="ri-home-3-line tw-mr-2"></i>winetree94.com
        </p>
        <p>
          <i class="ri-github-line tw-mr-2"></i>github.com/winetree94
        </p>
      </div>
    </div>
    <div class="tw-flex tw-flex-col tw-ml-8 tw-mt-0">
      <h4>{t("about.title")}</h4>
      <p class="tw-mt-4">
        <Fragment set:html={t("about.description")} />
      </p>
    </div>
  </div>

  <div class="tw-flex tw-flex-col tw-mt-8">
    <h4 id="qualifications">{t("about.qualifications")}</h4>
    <IndentLine>
      <div>
        <h5>Overview</h5>
        <p class="tw-mt-4">
          {t("about.qualifications.description")}
          <br>
          소통 없이는 좋은 제품이 나올 수 없다고 생각합니다. 더 나은 제품을 만들기 위해 적극적으로 생각을 표현합니다.
        </p>
      </div>
      <div class="tw-mt-4">
        <h5>{t("about.qualifications.frontend")}</h5>
        <ul class="tw-list-disc tw-list-inside tw-mt-2">
          <li class="tw-list-outside tw-ml-6">
            {t("about.qualifications.frontend.1")}
          </li>
          <li class="tw-list-outside tw-ml-6">
            {t("about.qualifications.frontend.2")}
          </li>
          <li class="tw-list-outside tw-ml-6">
            {t("about.qualifications.frontend.3")}
          </li>
          <li class="tw-list-outside tw-ml-6">
            {t("about.qualifications.frontend.4")}
          </li>
          <li class="tw-list-outside tw-ml-6">
            Electron, Tauri 등 데스크탑 애플리케이션 프로젝트 설계 및 개발
          </li>
          <li class="tw-list-outside tw-ml-6">
            Internet Explorer, Safari 등 크로스 브라우징 문제 대응
          </li>
        </ul>
      </div>
      <div class="tw-mt-4">
        <h5>{t("about.qualifications.others")}</h5>
      </div>
      <ul class="tw-list-disc tw-list-inside tw-mt-2">
        <li class="tw-list-outside tw-ml-6">
          {t("about.qualifications.others.1")}
        </li>
        <li class="tw-list-outside tw-ml-6">
          {t("about.qualifications.others.2")}
        </li>
        <li class="tw-list-outside tw-ml-6">
          Github Actions / Circle CI 등 CI/CD 환경 구축 및 관리
        </li>
      </ul>
      <h5 class="tw-mt-4">
        {t("about.qualifications.key_technology_keywords")}
      </h5>
      <div class="tw-flex tw-gap-2 tw-flex-wrap tw-mt-4">
        {badges.map((badge) => <TechBadge name={badge} />)}
      </div>
    </IndentLine>
  </div>
</div>
