@import "remixicon/fonts/remixicon.css";
@import "tailwindcss";

/* Tailwind v4 Custom Variables */
@theme {
  /* Colors */
  --color-black-50: #f6f6f6;
  --color-black-100: #e7e7e7;
  --color-black-200: #d1d1d1;
  --color-black-300: #b0b0b0;
  --color-black-400: #888888;
  --color-black-500: #6d6d6d;
  --color-black-600: #5d5d5d;
  --color-black-700: #4f4f4f;
  --color-black-800: #454545;
  --color-black-900: #3d3d3d;
  --color-black-950: #000000;

  --color-white-50: #ffffff;
  --color-white-100: #efefef;
  --color-white-200: #dcdcdc;
  --color-white-300: #bdbdbd;
  --color-white-400: #989898;
  --color-white-500: #7c7c7c;
  --color-white-600: #656565;
  --color-white-700: #525252;
  --color-white-800: #464646;
  --color-white-900: #3d3d3d;
  --color-white-950: #292929;

  --color-purple-100: #ece9ff;
  --color-purple-200: #ffe0e0;

  --color-blue-100: #E9F3FF;
  --color-blue-200: #d6e9ff;
  --color-blue-300: #c3e0ff;
  --color-blue-400: #4a90e2;
  --color-blue-500: #1781FE;

  /* Screens */
  --breakpoint-print: print;
}

/* Base Styles for HTML Elements */
@layer base {
  h1 { 
    @apply text-4xl; 
  }
  h2 { 
    @apply text-3xl; 
  }
  h3 { 
    @apply text-2xl; 
  }
  h4 { 
    @apply text-xl; 
  }
  h5 { 
    @apply text-lg; 
  }
  h6 { 
    @apply text-base; 
  }
  p { 
    @apply text-base; 
  }
  a { 
    @apply text-blue-400; 
  }
  hr { 
    @apply border-0 border-t border-black-200; 
  }
  main { 
    @apply w-[720px] max-w-[calc(100%-2em)] mx-auto py-12 px-4; 
  }
}

@font-face {
  font-family: "Agave";
  src: url("/fonts/Agave-Regular.ttf") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Agave";
  src: url("/fonts/Agave-Bold.ttf") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Gowun Dodum";
  src: url("/fonts/GowunDodum-Regular.ttf") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.markdown {
  h1:not(:last-child),
  h2:not(:last-child),
  h3:not(:last-child),
  h4:not(:last-child),
  h5:not(:last-child),
  h6:not(:last-child) {
    margin-bottom: 16px;
  }

  p:not(:last-child) {
    margin-bottom: 16px;
  }

  hr:not(:last-child) {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  ul {
    list-style: disc;
    list-style-position: inside;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    ul {
      padding-left: 20px;
    }
  }

  ol {
    list-style: decimal;
    list-style-position: inside;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    ol {
      padding-left: 20px;
    }
  }

  a {
    color: var(--color-blue-400);
  }

  pre {
    margin: 0;
    padding: 0;
    border-radius: 6px;
    padding: 16px;
    margin-bottom: 16px;
    overflow-x: auto;
  }

  code {
    font-family: inherit;
    background-color: #f6f6f6;
    padding: 2px 4px;
    border-radius: 6px;
  }

  pre {
    code {
      background-color: unset;
      padding: 0;
      border-radius: 0;
    }
  }

  blockquote {
    margin: 0;
    padding: 0;
    border-left: 4px solid #d1d1d1;
    padding-left: 16px;
    margin-left: 16px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
