@import "remixicon/fonts/remixicon.css";
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes:
    light --default,
    black --prefersdark;
}

/* Tailwind v4 Custom Variables */
@theme {
  /* Screens */
  --breakpoint-print: print;
}

@font-face {
  font-family: "Agave";
  src: url("/fonts/Agave-Regular.ttf") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Agave";
  src: url("/fonts/Agave-Bold.ttf") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Gowun Dodum";
  src: url("/fonts/GowunDodum-Regular.ttf") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
