@tailwind base;
@tailwind components;
@tailwind utilities;

@import "remixicon/fonts/remixicon.css";

@font-face {
  font-family: "Agave";
  src: url("/fonts/Agave-Regular.ttf") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Agave";
  src: url("/fonts/Agave-Bold.ttf") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Gowun Dodum";
  src: url("/fonts/GowunDodum-Regular.ttf") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// .sr-only {
//   border: 0;
//   padding: 0;
//   margin: 0;
//   position: absolute !important;
//   height: 1px;
//   width: 1px;
//   overflow: hidden;
//   /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
//   clip: rect(1px 1px 1px 1px);
//   /* maybe deprecated but we need to support legacy browsers */
//   clip: rect(1px, 1px, 1px, 1px);
//   /* modern browsers, clip-path works inwards from each corner */
//   clip-path: inset(50%);
//   /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
//   white-space: nowrap;
// }

// -------- Markdown Style ---------

.markdown {
  h1:not(:last-child),
  h2:not(:last-child),
  h3:not(:last-child),
  h4:not(:last-child),
  h5:not(:last-child),
  h6:not(:last-child) {
    margin-bottom: theme("margin.4");
  }

  p:not(:last-child) {
    margin-bottom: theme("margin.4");
  }

  hr:not(:last-child) {
    margin-top: theme("margin.4");
    margin-bottom: theme("margin.4");
  }

  ul {
    list-style: disc;
    list-style-position: inside;

    &:not(:last-child) {
      margin-bottom: theme("margin.4");
    }

    ul {
      padding-left: 20px;
    }
  }

  ol {
    list-style: decimal;
    list-style-position: inside;

    &:not(:last-child) {
      margin-bottom: theme("margin.4");
    }

    ol {
      padding-left: 20px;
    }
  }

  a {
    color: theme("colors.blue.400");
  }

  code {
    font-family: inherit;
    background-color: theme("colors.black.50");
    padding: 2px 4px;
    border-radius: theme("borderRadius.md");
  }

  blockquote {
    margin: 0;
    padding: 0;
    border-left: 4px solid theme("colors.black.200");
    padding-left: theme("padding.4");
    margin-left: theme("margin.4");

    &:not(:last-child) {
      margin-bottom: theme("margin.4");
    }
  }
}
