---
import { useTranslation } from '@/i18n/utils';
import type { SupportedLanguageCodes } from '@/lib/language';
import IndentLine from '../IndentLine.astro';
import { PERSONAL_LINKS } from '@/consts';

type Props = {
  lang: SupportedLanguageCodes;
}

const t = useTranslation(Astro.props.lang);
---

<h3 id="profile" class="font-bold">{t("about.profile")}</h3>
<IndentLine>
  <p>
    {t("about.profile.description")}
  </p>
  <ul class="list-disc list-inside mt-4">
    {
      PERSONAL_LINKS.map((link) => (
        <li class="list-outside ml-6">
          <a href={link.url} target="_blank">
            {link.name}
          </a>
        </li>
      ))
    }
  </ul>
</IndentLine>
