---
import { PERSONAL_LINKS } from "@/consts";
import { t as translate } from "@/i18n";
import type { SupportedLanguageCodes } from "@/lib/language";
import IndentLine from "../IndentLine.astro";

type Props = {
  lang: SupportedLanguageCodes;
};

const t = (key: string) => translate(Astro.props.lang, key);
---

<h3 id="profile" class="text-2xl font-bold">{t("about.profile")}</h3>
<IndentLine>
  <p>
    {t("about.profile.description")}
  </p>
  <ul class="mt-4 list-inside list-disc">
    {
      PERSONAL_LINKS.map((link) => (
        <li class="ml-6 list-outside">
          <a
            class="text-blue-400"
            href={link.url}
            target="_blank"
            rel="noopener noreferrer"
          >
            {link.name}
          </a>
        </li>
      ))
    }
  </ul>
</IndentLine>
