---
import { useTranslation } from "@/i18n/utils";
import IndentLine from "../IndentLine.astro";
import TechBadge from "../TechBadge.astro";
import type { SupportedLanguageCodes } from "@/lib/language";

type Props = {
  lang: SupportedLanguageCodes;
}


const t = useTranslation(Astro.props.lang);
---

<h3 id="qualifications" class="font-bold">{t("about.qualifications")}</h3>
<IndentLine>
  <div>
    <p class="mt-2">
      {t("about.qualifications.description")}
    </p>
  </div>
  <div class="mt-8">
    <h3>{t("about.qualifications.frontend")}</h3>
    <ul class="list-disc list-inside mt-2">
      {
        [1, 2, 3, 4, 5, 6, 7].map((idx) => (
          <li class="list-outside ml-6">
            {t(`about.qualifications.frontend.${idx}`)}
          </li>
        ))
      }
    </ul>
  </div>
  <div class="mt-8">
    <h3>{t("about.qualifications.others")}</h3>
    <ul class="list-disc list-inside mt-2">
      {
        [1, 2, 3].map((idx) => (
          <li class="list-outside ml-6">
            {t(`about.qualifications.others.${idx}`)}
          </li>
        ))
      }
    </ul>
  </div>
  <div class="mt-8">
    <h3>
      {t("about.qualifications.key_technology_keywords")}
    </h3>
    <div class="flex gap-2 flex-wrap mt-2">
      {
        [
          "Typescript",
          "Angular",
          "React",
          "Webpack",
          "Jest",
          "Aws",
          "Docker",
        ].map((badge) => <TechBadge name={badge} />)
      }
    </div>
  </div>
</IndentLine>
