// styles/_button.scss
@mixin button-styles {
  @apply p-4 text-black-950 cursor-pointer rounded-full;

  /* 'xxs' | 'xs' | 'sm' | '1x' | 'lg' | 'xl' | '2x' | '3x'; */
  &.ri-xxs {
    @apply p-1;
  }

  &.ri-xs {
    @apply p-2;
  }

  &.ri-sm {
    @apply p-3;
  }

  &.ri-1x {
    @apply p-4;
  }

  &.ri-lg {
    @apply p-5;
  }

  &.ri-xl {
    @apply p-6;
  }

  &.ri-2x {
    @apply p-8;
  }

  &.ri-3x {
    @apply p-12;
  }

  &:hover:not(.disabled):not(:disabled) {
    @apply bg-black-100 text-black-950;
  }

  &:active:not(.disabled):not(:disabled) {
    @apply bg-black-200 text-black-950;
  }

  &.disabled,
  &:disabled {
    @apply text-black-300 cursor-default;
  }
}

@mixin icon-styles {
  @apply block leading-none;
}
