---
import type { HTMLAttributes } from 'astro/types';

type Prop = HTMLAttributes<'button'> & {
  icon: string;
  size: 'xxs' | 'xs' | 'sm' | '1x' | 'lg' | 'xl' | '2x' | '3x';
};

const { icon, size = '1x', class: className, ...props } = Astro.props as Prop;
---

<button class=`${className || ''} ri-${size}` {...props}>
  <i class={`${icon} ri-${size}`}></i>
</button>
<style lang="scss">
  @reference "../../styles/global.scss";

  @import 'IconButton';

  button {
    @include button-styles;
  }

  i {
    @include icon-styles;
  }
</style>
