---
import { getCurrentLangCode } from '../../i18n/utils';
import { useTranslation } from '../../i18n/utils';
import Skills from '../resume/Skills.astro';

const langCode = getCurrentLangCode(Astro.url);
const t = useTranslation(langCode);
---

<div
  class="flex flex-col w-full h-full justify-center text-left"
>
  <div class="flex flex-row">
    <div
      class="shrink-0 flex justify-center flex-col items-center"
    >
      <img
        class="rounded-full profile-image max-w-[150px] min-w-[150px] min-h-[150px] max-h-[150px]"
        src="/photos/profile.jpg"
        alt="Profile Image"
      />
      <div class="mt-4">
        <p class="text-sm">
          <i class="ri-mail-line mr-2"></i>winetree94@gmail.com
        </p>
        <p class="text-sm">
          <a
            class="text-black-950"
            target="_blank"
            href="https://winetree94.com"
          >
            <i class="ri-home-3-line mr-2"></i>winetree94.com
          </a>
        </p>
        <p class="text-sm">
          <a
            class="text-black-950"
            target="_blank"
            href="https://github.com/winetree94"
          >
            <i class="ri-github-line mr-2"></i>github.com/winetree94
          </a>
        </p>
      </div>
    </div>
    <div class="flex flex-col ml-8 mt-0 justify-center">
      <h4>{t("about.title")}</h4>
      <p class="mt-4">
        <Fragment set:html={t("about.description")} />
      </p>
    </div>
  </div>

  <div class="flex flex-col mt-8">
    <Skills />
  </div>
</div>
