---
import { WORK_EXPERIENCE } from '../../consts';
import WorkExperience from '../resume/WorkExperience.astro';
---

<div class="tw-flex tw-flex-col tw-w-full tw-justify-start">
  <WorkExperience
    indentEnd={false}
    workExperience={WORK_EXPERIENCE.slice(0, 1)}
  />
</div>
