---
import { OPEN_SOURCE } from '../../consts';
import OpenSource from '../resume/OpenSource.astro';
---
<div
  class="tw-flex tw-flex-col tw-w-full tw-h-full tw-justify-start tw-text-left"
>
  <OpenSource opensourceExperience={OPEN_SOURCE} />
</div>
