---
import { OPEN_SOURCE } from '../../consts';
import OpenSource from '../resume/OpenSource.astro';
---
<div
  class="flex flex-col w-full h-full justify-start text-left"
>
  <OpenSource opensourceExperience={OPEN_SOURCE} />
</div>
