---
import { WORK_EXPERIENCE } from "../../consts";
import WorkExperience from "../resume/WorkExperience.astro";
---

<div class="tw-flex tw-flex-col tw-w-full tw-justify-start">
  <WorkExperience
    indentEnd={true}
    workExperience={WORK_EXPERIENCE.slice(1, 3)}
  />
</div>
