---
import type { SupportedLanguageCodes } from "@/lib/language";
import { WORK_EXPERIENCE } from "@/consts";
import WorkExperience from "@/components/resume/WorkExperience.astro";

type Props = {
  lang: SupportedLanguageCodes;
};
---

<div class="flex w-full flex-col justify-start">
  <WorkExperience
    lang={Astro.props.lang}
    indentEnd={true}
    workExperience={WORK_EXPERIENCE.slice(1, 3)}
  />
</div>
