---
import { getCurrentLangCode } from '../../i18n/utils';
import { useTranslation } from '../../i18n/utils';
import Skills from '../resume/Skills.astro';

const langCode = getCurrentLangCode(Astro.url);
const t = useTranslation(langCode);
---

<div
  class="tw-flex tw-flex-col tw-w-full tw-h-full tw-justify-center tw-text-left"
>
  <div class="tw-flex tw-flex-row">
    <div
      class="tw-flex-shrink-0 tw-flex tw-justify-center tw-flex-col tw-items-center"
    >
      <img
        class="tw-rounded-full profile-image tw-max-w-[150px] tw-min-w-[150px] tw-min-h-[150px] tw-max-h-[150px]"
        src="/photos/profile.jpg"
        alt="Profile Image"
      />
      <div class="tw-mt-4">
        <p class="tw-text-sm">
          <i class="ri-mail-line tw-mr-2"></i>winetree94@gmail.com
        </p>
        <p class="tw-text-sm">
          <a
            class="tw-text-black-950"
            target="_blank"
            href="https://winetree94.com"
          >
            <i class="ri-home-3-line tw-mr-2"></i>winetree94.com
          </a>
        </p>
        <p class="tw-text-sm">
          <a
            class="tw-text-black-950"
            target="_blank"
            href="https://github.com/winetree94"
          >
            <i class="ri-github-line tw-mr-2"></i>github.com/winetree94
          </a>
        </p>
      </div>
    </div>
    <div class="tw-flex tw-flex-col tw-ml-8 tw-mt-0 tw-justify-center">
      <h4>{t("about.title")}</h4>
      <p class="tw-mt-4">
        <Fragment set:html={t("about.description")} />
      </p>
    </div>
  </div>

  <div class="tw-flex tw-flex-col tw-mt-8">
    <Skills />
  </div>
</div>
