---
import type { SupportedLanguageCodes } from "@/lib/language";
import { OPEN_SOURCE } from "@/consts";
import OpenSource from "@/components/resume/OpenSource.astro";

type Props = {
  lang: SupportedLanguageCodes;
};
---

<div class="flex h-full w-full flex-col justify-start text-left">
  <OpenSource lang={Astro.props.lang} opensourceExperience={OPEN_SOURCE} />
</div>
