---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="tw-flex tw-flex-col tw-items-center">
      <img class="profile-image" src="./photos/profile.jpg" alt="" />
      <h5>winetree94</h5>
      <p>Hi there! I’m a frontend developer from South Korea.</p>
      <div class="tw-flex">
        <a href="https://github.com/winetree94" target="_blank">
          <i class="ri-github-line"></i>
		</a>
        <a href="mailto: winetree94@gmail.com" target="_blank">
          <i class="ri-mail-line"></i>
		</a>
      </div>
    </main>
    <Footer />
    <style lang="scss">
      main {
        margin: 80px auto;
      }

      .profile-image {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        display: block;
        margin-bottom: 1rem;
      }
    </style>
  </body>
</html>
