---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
---

<!doctype html>
<html lang={Astro.params.lang}>
  <head>
    <BaseHead title={"title"} description={"description"} />
    <style lang="scss">
      .profile-image {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        display: block;
        margin-bottom: 1rem;
      }
      .lang-link {
        &.disabled {
          pointer-events: none;
          color: #b3b3b3;
        }
      }
    </style>
  </head>
  <body>
    <main
      class="w-[720px] max-w-[calc(100%-2em)] mx-auto py-12 px-4 flex flex-col items-center my-40"
    >
      <h1>hi</h1>
    </main>
    <Footer />
  </body>
</html>
