---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="tw-flex tw-flex-col tw-items-center">
      <img class="profile-image" src="./photos/profile.jpg" alt="" />
      <h5>winetree94</h5>
      <p class="tw-text-center">
        Hi there! I’m a frontend developer from South Korea.
        <br />
        I love photography, embedded Linux, and home labs.
        <br />
        I am also an amateur theater actor.
      </p>
      <div class="tw-flex">
        <a
          class="link-button"
          href="https://github.com/winetree94"
          target="_blank"
        >
          <i class="ri-github-line"></i>
        </a>
        <a
          class="link-button"
          href="mailto: winetree94@gmail.com"
          target="_blank"
        >
          <i class="ri-mail-line"></i>
        </a>
      </div>
    </main>
    <Footer />
    <style lang="scss">
      main {
        margin: 80px auto;
      }

      .profile-image {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        display: block;
        margin-bottom: 1rem;
      }

      .link-button {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;

        &:hover {
          border-radius: 50%;
          color: white;
          background-color: black;
        }

        &:active {
          transform: scale(0.9);
        }
      }
    </style>
  </body>
</html>
