---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLES, SITE_DESCRIPTIONS, SITE_IMAGES } from "../consts";
import {
  getCurrentLangCode,
  getLangBasePath,
  useTranslation,
} from "../i18n/utils";
const currentLangPath = getLangBasePath(Astro.url);
const currentLangCode = getCurrentLangCode(Astro.url);
const t = useTranslation(currentLangCode);

const title = SITE_TITLES[currentLangCode];
const description = SITE_DESCRIPTIONS[currentLangCode];
const image = SITE_IMAGES[currentLangCode];
---

<!doctype html>
<html lang={currentLangCode}>
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body class="tw-flex tw-flex-col tw-bg-black-800 tw-m-0 tw-p-0">
    <header class="tw-fixed tw-w-full tw-shadow-2xl print:tw-hidden tw-h-12">
      <nav class="tw-bg-white-50 tw-flex tw-justify-between tw-px-4 tw-h-full">
        <div class="tw-flex tw-items-center">
          <p class="tw-text-xl">Viewer</p>
        </div>
        <div class="tw-flex tw-items-center tw-h-full">
          <button class="tw-px-4 tw-h-full" onclick="window.print()">
            <i class="ri-printer-line"></i>
          </button>
          <button class="tw-px-4 tw-h-full">
            <i class="ri-zoom-in-line"></i>
          </button>
          <button class="tw-px-4 tw-h-full">
            <i class="ri-zoom-out-line"></i>
          </button>
        </div>
      </nav>
    </header>
    <!-- <Header /> -->
    <main
      class="tw-m-0 tw-mt-12 tw-pt-0 tw-pb-16 tw-px-16 tw-w-full tw-max-w-full tw-overflow-auto tw-box-border print:tw-p-0"
    >
      <div>
        <div class="page">asldkfj asdflkjasd asdlfkjasdflkj</div>
        <div class="page">asldkfj asdflkjasd asdlfkjasdflkj</div>
      </div>
    </main>

    <script></script>

    <style lang="scss">
      @media print {
        @page {
          margin: 0;
        }
      }
      .page {
        width: 210mm;
        height: 297mm;
        @apply tw-bg-white-50 tw-flex-shrink-0 tw-mx-auto tw-mt-16 print:tw-m-0;
      }
    </style>
  </body>
</html>
