---
type Props = {
  fixed?: boolean;
};

const { fixed = false } = Astro.props as Props;
---

<header
  class={`w-full h-14 bg-white-50 shadow print:hidden z-30 ${fixed ? 'fixed top-0 left-0' : ''}`}
>
  <nav
    class="bg-white-50 flex justify-between items-center px-4 h-full py-1 mx-auto"
  >
    <slot></slot>
  </nav>
</header>
