---
import type { HTMLAttributes } from "astro/types";
import { getLangBasePath } from "../i18n/utils";

type Props = HTMLAttributes<"a">;

const langPath = getLangBasePath(Astro.url);

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === langPath + subpath?.[0];
---

<a href={href} class:list={['tw-inline tw-no-underline', className, { active: isActive }]} {...props}>
  <slot />
</a>

<style>
  a.active {
    font-weight: bolder;
  }
</style>
