---
type Props = {
  pathname: string;
};

const path = Astro.url.pathname;
const { pathname } = Astro.props;
const active = path.includes(pathname);
---

<a href={pathname} class:list={['tw-inline tw-no-underline tw-text-black-950, tw-px-2 tw-py-2 tw-text-black-950',  { active: active }]}> <slot />
</a>

<style>
  a.active {
    font-weight: bolder;
  }
</style>
