---
export type Props = {
  class?: string;
  end?: boolean;
};

const { class: className, end = true } = Astro.props;
---

<div class={`indent-line ${end ? "end" : ""} ${className || ""}`}>
  <slot />
</div>

<style>
  .indent-line {
    border-left: 1px solid #cccccc;
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 16px;
    position: relative;
    padding-bottom: 8px;
  }

  .indent-line > &.end::before {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: block;
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid #cccccc;
  }
</style>
