---
import type { HTMLAttributes } from 'astro/types';

type Prop = HTMLAttributes<'a'> & {};

const { class: className, ...props } = Astro.props as Prop;
---
<a class=`link-button ${className || ''}` {...props}>
  <slot></slot>
</a>

<style lang="scss">
  a {
    @apply flex justify-center items-center p-4;
  }
</style>