<div
  id="search-root"
  class="hidden top-0 left-0 fixed w-full h-full flex-col items-center px-4"
  onmousedown="closeSearch()"
>
  <div
    class="rounded flex flex-col overflow-hidden max-w-[600px] w-full mt-[20vh] shadow"
    onmousedown="event.stopPropagation()"
  >
    <div
      id="input-container"
      class="shrink-0 flex p-4 bg-black-50 rounded relative"
    >
      <input
        id="search"
        type="text"
        placeholder="Search..."
        class="p-4 w-full outline-none rounded border border-black-200"
      />
      <div
        id="search-spinner"
        class="h-full flex absolute right-0 top-0 items-center invisible"
      >
        <svg
          class="animate-spin ml-1 h-5 w-5 text-black-300 mr-8"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
      </div>
    </div>
    <div
      id="results"
      class="flex flex-col gap-4 overflow-y-auto px-4 bg-black-50 rounded-b max-h-[40vh]"
    >
    </div>
  </div>
</div>

<script is:inline>
  const INPUT_CONTAINER = document.getElementById("input-container");
  const INPUT = document.getElementById("search");
  const SEARCH_ROOT = document.getElementById("search-root");
  const RESULTS = document.getElementById("results");
  const SPINNER = document.getElementById("search-spinner");

  let opened = false;

  const inputListener = async (e) => {
    SPINNER.classList.remove("invisible");

    if (e.target.dataset.loaded !== "true") {
      e.target.dataset.loaded = "true";
      window.pagefind = await import("/pagefind/pagefind.js");
    }

    const search = await window.pagefind.search(e.target.value);
    RESULTS.innerHTML = "";

    const results = await Promise.all(
      search.results.map((result) => result.data())
    );

    let html = "";

    for (result of results) {
      html += `
        <a class="flex flex-col p-4 rounded bg-black-100 text-black-950 last:mb-4" href="${result.url}">
          <h4 class="text-xl text-ellipsis overflow-hidden whitespace-nowrap">${result.meta.title}</h4>
          <p class="text-sm mt-2">${result.excerpt}</p>
        </a>
      `;
    }

    if (html.length > 0) {
      INPUT_CONTAINER.classList.add("rounded-b-none");
    } else {
      INPUT_CONTAINER.classList.remove("rounded-b-none");
    }

    RESULTS.innerHTML = html;
    SPINNER.classList.add("invisible");
  };

  window.addEventListener("keydown", (e) => {
    if (e.key === "/" && !opened) {
      opened = true;
      e.preventDefault();

      INPUT.value = "";
      INPUT.addEventListener("input", inputListener);

      SEARCH_ROOT.classList.add("flex");
      SEARCH_ROOT.classList.remove("hidden");

      INPUT.focus();
    }

    if (e.key === "Escape" && opened) {
      opened = false;
      SEARCH_ROOT.classList.remove("flex");
      SEARCH_ROOT.classList.add("hidden");

      INPUT.removeEventListener("input", inputListener);
      INPUT.value = "";
      RESULTS.innerHTML = "";
    }
  });

  window.addEventListener("open-search", () => {
    opened = true;

    INPUT.value = "";
    INPUT.addEventListener("input", inputListener);

    SEARCH_ROOT.classList.add("flex");
    SEARCH_ROOT.classList.remove("hidden");

    INPUT.focus();
  });

  const closeSearch = () => {
    opened = false;
    SEARCH_ROOT.classList.remove("flex");
    SEARCH_ROOT.classList.add("hidden");

    INPUT.removeEventListener("input", inputListener);
    INPUT.value = "";
    RESULTS.innerHTML = "";
  };
</script>

<style is:inline>
  #search-root {
    background-color: rgba(0, 0, 0, 0.5);
  }
</style>
