---
export type Props = {
  name: string;
};

const props = Astro.props;
---
<span class="inline-flex items-center px-2 py-1 bg-black-100 rounded-2xl text-sm">
  <img class="w-4 h-4 mr-2" src={`/favicons/${props.name.toLowerCase()}.png`} alt=`${props.name} favicon`> 
  {props.name}
</span>