---
import BaseHead from '../components/BaseHead.astro';
import Page1 from '../components/printable/page1.astro';
import Page2 from '../components/printable/page2.astro';
import Page3 from '../components/printable/page3.astro';
import { SITE_DESCRIPTIONS, SITE_IMAGES, SITE_TITLES } from '../consts';
import { getCurrentLangCode } from '../i18n/utils';
const currentLangCode = getCurrentLangCode(Astro.url);

const title = SITE_TITLES[currentLangCode];
const description = SITE_DESCRIPTIONS[currentLangCode];
const image = SITE_IMAGES[currentLangCode];
---

<!doctype html>
<html lang={currentLangCode}>
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body class="tw-flex tw-flex-col tw-bg-black-800 tw-m-0 tw-p-0 tw-overflow-y-scroll">
    <header class="tw-fixed tw-w-full tw-shadow-2xl print:tw-hidden tw-h-12 tw-z-30">
      <nav class="tw-bg-white-50 tw-flex tw-justify-between tw-px-4 tw-h-full">
        <div class="tw-flex tw-items-center">
          <button class="tw-px-4 tw-h-full" onclick="history.back()">
            <i class="ri-arrow-left-line"></i>
          </button>
        </div>
        <div class="tw-flex tw-items-center tw-h-full">
          <button class="tw-px-4 tw-h-full" onclick="window.print()">
            <i class="ri-printer-line"></i>
          </button>
          <button id="zoom-in-btn" class="tw-px-4 tw-h-full">
            <i class="ri-zoom-in-line"></i>
          </button>
          <button id="zoom-out-btn" class="tw-px-4 tw-h-full">
            <i class="ri-zoom-out-line"></i>
          </button>
        </div>
      </nav>
    </header>
    <!-- <Header /> -->
    <main
      id="viewer-root"
      class="tw-m-0 tw-mt-12 tw-p-0 tw-w-full tw-max-w-full tw-overflow-x-auto tw-box-border tw-text-center print:tw-p-0 print:tw-m-0 print:tw-mt-0"
      style="visibility: hidden;"
    >
      <div id="zoom-container" class="tw-inline-block tw-p-16 print:tw-p-0">
        <div class="page">
          <Page1 />
        </div>
        <div class="page">
          <Page2 />
        </div>
        <div class="page">
          <Page3 />
        </div>
      </div>
    </main>

    <script>
      const MAX_ZOOM_LEVEL = 1.25;
      const MIN_ZOOM_LEVEL = 0.25;

      const VIEWER = document.querySelector('#viewer-root')! as HTMLDivElement;
      const ZOOM_CONTAINER = document.querySelector('#zoom-container')! as HTMLDivElement;
      const ZOOM_IN_BTN = document.querySelector('#zoom-in-btn')! as HTMLButtonElement;
      const ZOOM_OUT_BTN = document.querySelector('#zoom-out-btn')! as HTMLButtonElement;

      // left padding + a4 width + right padding
      const CONTENT_WIDTH  = 64 + 794 + 64;

      const getScale = () => {
        return parseFloat(ZOOM_CONTAINER.style.zoom) || 1;
      };

      const setScale = (scale: number) => {
        const value = Math.max(Math.min(MAX_ZOOM_LEVEL, scale), MIN_ZOOM_LEVEL);
        ZOOM_CONTAINER.style.zoom = `${(Math.floor(value * 100) / 100).toFixed(2)}`;
      };

      const matchWithScreen = () => {
        const screen = document.querySelector('body')!;
        const screenWidth = screen.offsetWidth;
        const scale = screenWidth / CONTENT_WIDTH;
        setScale(scale);
      };

      ZOOM_IN_BTN.addEventListener('click', () => {
        const scale = getScale() + 0.1;
        setScale(scale);
      });

      ZOOM_OUT_BTN.addEventListener('click', () => {
        const scale = getScale() - 0.1;
        setScale(scale);
      });

      // watch screen width
      window.addEventListener('resize', matchWithScreen);
      matchWithScreen();
      VIEWER.style.visibility = 'visible';
    </script>

    <style lang="scss">
      .page {
        width: 210mm;
        height: 297mm;
        @apply tw-bg-white-50 tw-flex-shrink-0 print:tw-m-0 tw-flex tw-flex-col tw-justify-between tw-p-16;

        &:not(:first-child) {
          @apply tw-mt-16;
        }
      }

      // print 모드일 때 스타일
      @media print {
        body {
          -webkit-print-color-adjust: exact;
          print-color-adjust: exact;
        }

        @page {
          margin: 0;
        }

        .page {

          &:not(:first-child) {
            @apply tw-mt-0;
          }
        }

        #zoom-container {
          zoom: unset !important;
        }
      }
    </style>
  </body>
</html>
